* {
    box-sizing: border-box;
    margin: 0; padding: 0;

    &:focus {
        outline: 0;
    }
}

body {
    max-width: 1900px;
    margin: 0 auto;
    overflow-x: hidden;

    & > * {
        padding: 0 9vw;
    }
}

button {
    background-color: transparent;
}

@mixin rwd($screen) {
    @media (max-width: $screen+'px') {
        @content;
    }
}