.home__main {
    margin: 150px 0 30px;

    @include rwd(1000) {
        margin-top: 60px;
    }
}

.app__attribute {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__textbox {
        flex: 0 0 45%;
        max-width: 550px;

        &__heading { margin-bottom: 25px }
    }

    &__image__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 45%;      
    }

    &:nth-of-type(1) {
        flex-direction: row-reverse;
        margin-bottom: 100px;

        .app__attribute__image__container img {
            transform: scale(1.35) translateX(4%);
            max-width: 100%;
        }
    }

    &:nth-of-type(2) {
        position: relative;

        &::before {
            content: url(../../images/shared/desktop/bg-pattern-circle.svg);
            position: absolute;
            right: -9vw;
            transform: translateX(50%);
            z-index: -1;

            @include rwd(1100) { display: none }
        }

        .app__attribute__image__container img {
            max-width: 100%; 
            max-height: 500px;
            transform: scale(1.5) translateX(3.5%) translateY(4%); 
        }
    }

    &__grid {
        display: flex;
        justify-content: space-between;
        margin: 150px 0 25px;

        .grid__card {
            width: calc(92% / 3);
            text-align: center;

            &__heading { margin: 15px 0 }

            &__subheading { font-weight: 400 }
        }

        @include rwd(850) {
            position: relative;
            flex-direction: column;
            margin: 80px 0 0;

            .grid__card {
                display: flex;
                text-align: left;
                width: 100%;
                margin-bottom: 50px;
                &:last-of-type { margin-bottom: 0 }

                &__heading { margin-top: 0 }

                &__icon__container {
                    align-self: center;
                    margin-right: 50px;
                }
            }

            &::before {
                content: '';
                position: absolute;
                width: 10px; height: 84%;
                top: 8%; left: calc(53px - 5px);
                background-color: rgba(get-color(dark-pink), .5);
                z-index: -1;
            }
        }

        @include rwd(600) {
            &::before { display: none }

            .grid__card {
                flex-direction: column;
                text-align: center;
                margin-bottom: 80px;

                &__heading { margin-top: 15px }

                &__icon__container { margin-right: 0 }
            }
        }
    }

    @include rwd(1000) {
        flex-direction: column-reverse;

        &:nth-of-type(1) { 
            flex-direction: column-reverse;
            margin-bottom: 50px;

            .app__attribute__textbox {
                transform: translateY(-40px);
                text-align: center;
            }
        }

        &:nth-of-type(2) {
            .app__attribute__textbox {
                transform: translateY(-20px);
                text-align: center;
            }
        }

        &:nth-of-type(1) .app__attribute__image__container img,
        &:nth-of-type(2) .app__attribute__image__container img {
            transform: scale(1) translateX(5%) translateY(0);
        }
    }
}