.price__page__heading { 
    margin-bottom: 55px;

    @include rwd(750) {
        text-align: center;
        margin-bottom: 75px;
        letter-spacing: 2px;
    }
}

.price__card__container {
    display: flex;
    justify-content: space-between;

    .price__card {
        width: calc(92% / 3);

        &__heading {
            color: get-color(dark-pink);
            font-weight: normal;
            font-size: 2.6em;

            @include rwd(1015) {
                font-size: 2em;
            }
        }

        &__description {
            display: flex;
            align-items: center;
            line-height: 1.6;
            font-weight: 400;
            height: 100px;
            padding: 10px 0;
        }

        &__price { 
            display: flex;
            position: relative;
            align-items: center;
            @include h1();

            span {
                font-size: 35px;
                margin-right: 10px;
            }
        }

        &__feature__list {
            padding: 15px 0;
            margin: 25px 0 35px;
            border-top: 1px solid get-color(light-san-juan-blue);
            border-bottom: 1px solid get-color(light-san-juan-blue);

            .price__card__feature {
                text-transform: capitalize;
                font-weight: 400;
                margin-bottom: 10px;
                padding-left: 35px;
                color: rgba(get-color(light-san-juan-blue), .65);

                &:last-of-type { margin-bottom: 0 }

                &--available {
                    display: flex;
                    position: relative;
                    align-items: center;
                    color: get-color(san-juan-blue);

                    .fas.fa-check {
                        position: absolute;
                        color: get-color(dark-pink);
                        left: 0;
                    }
                }
            }
        }

        &:last-of-type .price__card__heading {
            width: calc(100% + 20px) !important;
        }
    }

    @include rwd(850) {
        .price__card {
            width: calc(87% / 3);

            &__heading, 
            &__description, 
            &__price { text-align: center }

            &__description {
                height: 130px;
            }

            &__price {
                justify-content: center;
            }

            .price__card__feature {
                position: relative;
                width: max-content;
                padding-left: 0;
                left: 35%;

                &--available .fas.fa-check {
                    left: -30px;
                }
            }
        }
    }

    @include rwd(750) {
        flex-direction: column;

        .price__card {
            width: 100%;
            margin-bottom: 90px;
            &:last-of-type { margin-bottom: 50px }

            &__description {
                height: auto;
                text-align: center;
                justify-content: center;
                margin-bottom: 15px;
            }

            .price__card__feature {
                left: 43%;
            }

            .btn {
                display: flex;
                margin: -10px auto 0;
                width: max-content;
            }
        }
    }
}